@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');


.main-container-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content: center;        
}

.full-page-section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;    
}


.about-intro {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.about-name-start {
    font-family: 'Georama';
    font-size: 60px; 
    font-weight: normal; 
    line-height: 60px;
    margin-right: 10px;     
}

.about-name {     
    font-family: 'Righteous', sans-serif; 
    font-size: 65px; 
    font-weight: normal; 
    line-height: 60px;    
}

.about-name-container {
    display: flex;
    flex-direction: row;
}

.about-fs {        
    font-size: 25px;      
}

.about-text {    
    justify-content: center;    
    font-size: 30px;  
    margin-top: 80px;
    font-family: 'Crimson Text';    
    margin-left: 5px;
    margin-right: 5px;    
}

.about-cv {
    display: flex;
    justify-content: center;
    font-size: 20px;  
    margin-top: 20px;    
}

.about-cv button {
    border: transparent;
    background-color: #D5BDAF;
    color: black
}

.about-cv button:active , .about-cv:hover button {
    background-color: #B287A3 !important;
}

.bnt-header-download {
    margin-top: 20px;    
    justify-content: center;    
}

[mode-theme='dark'] .about-cv,
[mode-theme='light'] .about-cv {
    transition: background-color  1s, color  1s;    
}

[mode-theme='dark'] .main-container-about, .about-fs, 
[mode-theme='light'] .main-container-about, .about-fs {
    transition: background-color  1s, color  1s;    
}

[mode-theme='dark'] .about-text,
[mode-theme='light'] .about-text {
    transition: background-color  1s, color  1s;    
}

[mode-theme='dark'] .about-cv button {
    background-color: #B287A3;
    color: white;    
}

[mode-theme='dark'] .main-container-about{
    background-color:#1C0118;
    color: white;
}

[mode-theme='light'] .main-container-about{
    background-color:#EDEDE9;
    color: black;
}

[mode-theme='dark'] .about-fs {
    color: #f8f9fa;
}

[mode-theme='dark'] .about-text {
    color: #f8f9fa;
}

 @media (max-width: 780px) {    
    
    .about-intro {
        display: flex;
        flex-direction: column;        
        margin: 5px;
        width: 100vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }   

    

}

@media (max-width: 493px) {
    
    .about-name-start {
        font-size: 40px;         
    }

    .about-name {
        font-size: 40px;         
    }

    .about-fs {
        font-size: 20px;         
    }

    .about-text {
        font-size: 15px;
        margin-left: 5px;
        margin-right: 5px;         
    }

}