
.footer {
  background-color: #f8f9fa;
  color: #333;
  padding: 20px 0;
  position: relative;
  z-index: 1;  
  }
  
  .footer p {
  margin: 0;
  }
  
  [mode-theme='dark'] .footer {
  background-color: #343a40;
  color: #fff;
  transition: background-color 1s, color 1s;
  }
  
  [mode-theme='light'] .footer {
  background-color: #f8f9fa;
  color: #333;
  transition: background-color 1s, color 1s;
  }
  