@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100&display=swap');

.main-container {
    width: 1000px;

}

.main-container-proj,
.card,
.card-container,
.full-page-section-proj {    
    color: #333;
    z-index: 1;
    background-color: honeydew;
}


.card-container {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: space-around;        
    z-index: 1;        
}

.card {    
    width: calc(33.33% - 40px);
    margin: 20px;
    padding: 20px;
    border: transparent;
    border-radius: 8px;
    box-sizing: border-box;  
    z-index: 1;    
    margin-top: 85px;
}

.card p {
    font-family: 'Georama';
    text-align: justify;
    max-height: 105px;
    margin-top: 5px;
    max-width: 250px;
    
}

.card-content h3{
    margin-top: 5px;
    max-height: 60px;
    max-width: 300px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


.card a {
    display: block;
    text-decoration: none;
    color: #007bff;
    margin-top: 2px;
    max-height: 20px;
}

.card a:hover {
    text-decoration: underline;
}

[mode-theme='dark'] .main-container-proj,
[mode-theme='dark'] .card,
[mode-theme='dark'] .card-container,
[mode-theme='dark'] .full-page-section-proj {
    background-color: lightslategray;
    color: black;
    transition: background-color 1s, color 1s;
}

[mode-theme='dark'] .card {
    transition: background-color 1s, color 1s;
    background-color: grey;
    color: white;    
}

[mode-theme='dark'] .card a {
    color: #66c2ff;
}

[mode-theme='dark'] .card a:hover {
    text-decoration: underline;
}

[mode-theme='light'] .main-container-proj,
[mode-theme='light'] .card-container,
[mode-theme='light'] .full-page-section-proj {
    background-color: honeydew;
    color: #333;
    transition: background-color 1s, color 1s;
}

[mode-theme='light'] .card {
    background-color: #f8f9fa;
    transition: background-color 1s, color 1s;
}

@media screen and (max-width: 490px) {
    .card {
        width: calc(33.33% - 40px);
    }
}