@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100&display=swap');

.main-container-proj,
.card,
.full-page-section-proj {    
    color: #333;
    z-index: 1;    
}

.main-container-proj{
    height: 160vh;
}


.card-container {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: space-around;        
    z-index: 1;        
}

.card {
    display: flex;    
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: transparent;
    border-radius: 8px;
    box-sizing: border-box;  
    z-index: 1;    
    margin-top: 85px;
    justify-content: center;    
    align-items: center;    ;
}

.card-content {
    flex-grow: 1;
}

.card-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;    
}

.card-projects-links {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

}

.card-info {
    background-color: #EDEDE9;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    color: #333;
    font-size: 14px;

}

.card p {    
    text-align: justify;
    max-height: 105px;
    margin-top: 5px;
    max-width: 250px;
            
}

.card-content h3{
    margin-top: 5px;
    max-height: 60px;
    max-width: 300px;
}

.card img {
    width: 40%;
    height: auto;
    border-radius: 5px;

}


.card a {
    display: block;
    text-decoration: none;
    color: #333;
    margin-top: 2px;
    max-height: 20px;
}

.card a:hover {
    text-decoration: underline;
}

[mode-theme='dark'] .main-container-proj,
[mode-theme='dark'] .card,
[mode-theme='dark'] .card-container,
[mode-theme='dark'] .full-page-section-proj {
    background-color: #1C0118;
    color: black;
    transition: background-color 1s, color 1s;
}

[mode-theme='dark'] .card {
    transition: background-color 1s, color 1s;
    background-color: #412539;
    color: white;    
}

[mode-theme='dark'] .card a {
    color: white;    
}

[mode-theme='dark'] .card-info {
    background-color: #01130e;
    color: white;
}

[mode-theme='dark'] .card-info,
[mode-theme='light'] .card-info
{
    transition: background-color 1s, color 1s;
}

[mode-theme='dark'] .card a:hover {
    text-decoration: underline;
}

[mode-theme='light'] .main-container-proj,
[mode-theme='light'] .card-container,
[mode-theme='light'] .full-page-section-proj {
    background-color: #EDEDE9;
    color: black;
    transition: background-color 1s, color 1s;
}

[mode-theme='light'] .card {
    background-color: #E3D5CA;
    transition: background-color 1s, color 1s;
}

@media screen and (max-width: 763px) {
    .card {
        width: 80vw;   
        height: 50vh;
        margin-left: auto;
    }

    .card-container {
        display: flex;
        flex-direction: column;
    }

    .main-container-proj {
        
        height: 200vh;
    }

    .card-projects-links {        
        justify-content: space-around;
        margin-top: 2px;
    }

    .card-info {
        margin-top: 5px;
        padding: 5px;
        font-size: 12px;
    }

    .card img {
        width: 15vw;
        height: auto;
        border-radius: 5px;
    }
    
} 