@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100&display=swap');

.main-container-skills {
  display: flex;
  justify-content: center;
  height: 115vh;
  align-items: center;  
}

.full-page-section-skills {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  height: 86vh;  
}

.skills-quadrant-1, .skills-quadrant-2, .skills-quadrant-3 {
  width: 50vh;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  max-height: 90vh;
  overflow-y: auto;
  overflow: hidden;
  
  
  
}

ul.skills-front,
ul.skills-back,
ul.skills-tools {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-self: center;  
   
}

ul.skills-front li,
ul.skills-back li,
ul.skills-tools li {
  border: 2px solid #333;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  list-style: none; 
  margin-right: 20px; 
  margin-top: 5px;
  background-color: powderblue;
  font-size: 12px;
}

.skills-quadrant-1 {
  background-color: #f8f9fa;
}

.skills-quadrant-2 {
  background-color: #f8f9fa;
}

.skills-quadrant-3 {
  background-color: #f8f9fa;
}

.skills-quadrant-1 h2, .skills-quadrant-2 h2, .skills-quadrant-3 h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Righteous', sans-serif;
  font-size: 2rem;
}

[mode-theme='dark'] .skills-quadrant-1, .skills-quadrant-2, .skills-quadrant-3 .main-container-skills,
[mode-theme='light'] .skills-quadrant-1, .skills-quadrant-2, .skills-quadrant-3, .main-container-skills{
  transition: background-color 1s, color 1s;
}

[mode-theme='dark'] ul.skills-front li, ul.skills-back li, ul.skills-tools li,
[mode-theme='light'] ul.skills-front li, ul.skills-back li, ul.skills-tools li
{
  transition: background-color 1s, color 0.4s;
}

[mode-theme='dark'] .skills-quadrant-1 {
  background-color: grey;
  color: white;
}

[mode-theme='dark'] ul.skills-front li {
  background-color: darkblue;
}

[mode-theme='dark'] ul.skills-back li {
  background-color: darkblue;
}

[mode-theme='dark'] ul.skills-tools li {
  background-color: darkblue;
}

[mode-theme='dark'] .skills-quadrant-2 {
  background-color: grey;
  color: white;
}

[mode-theme='dark'] .skills-quadrant-3 {
  background-color: grey;
  color: white;
}

[mode-theme='light'] .skills-quadrant-1, .skills-quadrant-2, .skills-quadrant-3 {
  background-color: #f8f9fa;
  color: #333;
} 

[mode-theme='dark'] .main-container-skills {
  background-color:lightslategray;
  color: black;
}

[mode-theme='light'] .main-container-skills{
  background-color:honeydew;
  color: black;
}